<!--
  Extend the global template
-->
{% extends "_template.html" %}

<!--
  Page content (gets injected into the template)
-->
{% block content %}


{% for component in shared.components %}
<div class="slds-grid slds-wrap standard-page slds-hide" id="{{ component.id }}">
  <div class="slds-col slds-size_1-of-1 page-title">
    <div class="slds-text-title_caps">{{ component.type }}s &#47;</div>
    <h1 class="slds-text-heading_large">{{ component.name }}</h1>
    <p class="slds-text-body_regular slds-m-vertical_medium">{{ component.description | safe }}</p>
  </div>
  <div class="slds-col slds-size_1-of-1 slds-large-size_8-of-12" style="padding-right:1em;">
    <h2 class="slds-text-heading_medium">Desktop Preview</h2>
    <div class="preview-wrapper">
      <div class="preview-inner_desktop">
        <iframe src="javascript:void(0);" frameborder="0" scrolling="no" class="iFramePreview" id="{{ component.id }}_iFramePreview_D"></iframe>
      </div>
    </div>
  </div>
  <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12 slds-show_large">
    <h2 class="slds-text-heading_medium">Mobile Preview</h2>
    <div class="preview-wrapper">
      <div class="preview-inner_mobile">
        <iframe src="javascript:void(0);" frameborder="0" scrolling="no" class="iFramePreview" id="{{ component.id }}_iFramePreview_M"></iframe>
      </div>
    </div>
  </div>
	{% if component.images %}
  <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12">
    <p class="slds-text-body_regular">
      <strong>{{ component.images[0].name }}</strong><br>
      Standard Resolution:<br>
      <span class="slds-text-font_monospace">width: {{ component.images[0].width }}px</span>&nbsp;&nbsp;<span
        class="slds-text-font_monospace">height {{ component.images[0].height }}px</span><br>
      Retina-Optimized:<br>
      <span class="slds-text-font_monospace">width: {{ component.images[0].width * 2 }}px</span>&nbsp;&nbsp;<span
        class="slds-text-font_monospace">height {{ component.images[0].height * 2 }}px</span><br>
    </p>
  </div>
	{% endif %}
  <div class="slds-col slds-size_1-of-1 section-gap">
    <div class="slds-text-heading_medium">Component HTML</div>
    <div class="small-gap site-code_content">
      <div class="site-code_copy" data-clipboard-action="copy" data-clipboard-target=".{{ component.id }}_language-markup">
        <button class="slds-button slds-button_icon-container" title="Copy to Clipboard">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#copy_to_clipboard"></use>
          </svg><span aria-live="polite" class="slds-assistive-text">Copy to Clipboard</span></button>
        <pre aria-hidden="true" class="slds-assistive-text">{{ component.htmlCode }}</pre>
      </div>
      <pre><code class="language-markup {{ component.id }}_language-markup">{{ component.htmlCode }}</code></pre>
    </div>
  </div>
  <div class="slds-col slds-size_1-of-1">
    {% include "_page-footer.html" %}
  </div>
</div>
<script>
	var html_string = '{{ shared.templates[0].htmlTemplateStart | safe }}' + '{{ component.htmlCode | safe }}' + '{{ shared.templates[0].htmlTemplateEnd | safe }}';
	document.getElementById('{{ component.id }}_iFramePreview_D').contentWindow.document.open('text/htmlreplace');
	document.getElementById('{{ component.id }}_iFramePreview_D').contentWindow.document.write(html_string);
	document.getElementById('{{ component.id }}_iFramePreview_D').contentWindow.document.close();
	document.getElementById('{{ component.id }}_iFramePreview_M').contentWindow.document.open('text/htmlreplace');
	document.getElementById('{{ component.id }}_iFramePreview_M').contentWindow.document.write(html_string);
	document.getElementById('{{ component.id }}_iFramePreview_M').contentWindow.document.close();
</script>
{% endfor %}

{% endblock %}
